
<!-- ------------------------------------------------------------------------------ -->

<!-- carousel o slider -->

<app-carousel></app-carousel>

<!-- carousel o slider -->

<!-- ------------------------------------------------------------------------------ -->

<!-- Service Section Start -->

<section class="services">

    <h1 class="heading-title"> our services </h1>

    <div class="box-container">

        <div class="box">
            <img src="../../../assets/images/mount3.png" alt="">
            <h3>adventure</h3>
        </div>

        <div class="box">
            <img src="../../../assets/images/map.png" alt="">
            <h3>tour guide</h3>
        </div>

        <div class="box">
            <img src="../../../assets/images/backpack.png" alt="">
            <h3>trekking</h3>
        </div>

        <div class="box">
            <img src="../../../assets/images/fire.png" alt="">
            <h3>camp fire</h3>
        </div>

        <div class="box">
            <img src="../../../assets/images/sign.png" alt="">
            <h3>off road</h3>
        </div>

        <div class="box">
            <img src="../../../assets/images/camp.png" alt="">
            <h3>camping</h3>
        </div>
    </div>

</section>

<!-- Service Section End -->

<!-- ------------------------------------------------------------------------------ -->
<!-- Home About Section Start -->

<section class="home-about">

    <div class="image">
        <img src="../../assets/images/sunflower.jpg" alt="">
    </div>

    <div class="content">
        <h3>about us</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis, officia aliquam ab inventore,
            sint a rerum reprehenderit consequuntur in ducimus, dignissimos repudiandae debitis. Reiciendis
            voluptatem commodi maiores atque ipsam sed?</p>
        <a href="" class="btn">read more</a>
    </div>

</section>

<!-- Home About Section End -->

<!-------------------------------------------------------------------------->

<!-- Home Packages Section Start -->

<section class="home-packages">

    <h1 class="heading-title"> our packages </h1>

    <div class="box-container">

        <div class="box">
            <div class="image">
                <img src="../../assets/images/waterfall.jpg" alt="">
            </div>
            <div class="content">
                <h3> adventure & tour </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, provident.</p>
                <a href="" class="btn">book now</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="../../assets/images/clouds.jpg" alt="">
            </div>
            <div class="content">
                <h3> adventure & tour </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, provident.</p>
                <a href="" class="btn">book now</a>
            </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="../../assets/images/sunset_bg.jpg" alt="">
            </div>
            <div class="content">
                <h3> adventure & tour </h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, provident.</p>
                <a href="" class="btn">book now</a>
            </div>
        </div>

    </div>

    <div class="load-more"><a href="" class="btn">load more</a></div>

</section>

<!-- Home Packages Section End -->

<!-------------------------------------------------------------------------->