
<div class="heading" >
    <h1>Encuentra publicaciones interesantes sobre el medio ambiente</h1>
</div>

<section class="blog row">

    <div class="posts col-8">

        <div class="post1 shadow links p-5">

            <div class="content">
                <h2 class="text-success">why choose us?</h2>
                <br>
                <p class="h5">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Minus non beatae, assumenda molestias fugiat porro facilis dolores quos
                    blanditiis architecto quis a adipisci voluptas debitis! Harum ad aliquid similique nulla?</p>
                <p class="h5">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quos reiciendis ipsam soluta doloribus sequi in eligendi sunt voluptates laborum velit.</p>
                <br>
                <div class="icons-container row">
                    <div class="icons col-3 h3">
                        <i class="fas fa-award"></i>
                        <span class="h5 text-danger">author</span>
                    </div>
                    <div class="icons col-3 h3">
                        <i class="fas fa-calendar-alt"></i>
                        <span class="h5 text-danger">date</span>
                    </div>
                    <div class="icons col-3 h3">
                        <i class="fas fa-comment"></i>
                        <span class="h5 text-danger">comments</span>
                    </div>
                </div>
            </div>

        </div>

        <br><br>

        <div class="post1 shadow links p-5">

            <div class="content">
                <h2 class="text-success">why choose us?</h2>
                <br>
                <p class="h5">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Minus non beatae, assumenda molestias fugiat porro facilis dolores quos
                    blanditiis architecto quis a adipisci voluptas debitis! Harum ad aliquid similique nulla?</p>
                <p class="h5">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quos reiciendis ipsam soluta doloribus sequi in eligendi sunt voluptates laborum velit.</p>
                <br>
                <div class="icons-container row">
                    <div class="icons col-3 h3">
                        <i class="fas fa-award"></i>
                        <span class="h5 text-danger">author</span>
                    </div>
                    <div class="icons col-3 h3">
                        <i class="fas fa-calendar-alt"></i>
                        <span class="h5 text-danger">date</span>
                    </div>
                    <div class="icons col-3 h3">
                        <i class="fas fa-comment"></i>
                        <span class="h5 text-danger">comments</span>
                    </div>
                </div>
            </div>

        </div>

        <br><br>

        <div class="post1 shadow links p-5">

            <div class="content">
                <h2 class="text-success">why choose us?</h2>
                <br>
                <p class="h5">Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Minus non beatae, assumenda molestias fugiat porro facilis dolores quos
                    blanditiis architecto quis a adipisci voluptas debitis! Harum ad aliquid similique nulla?</p>
                <p class="h5">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Quos reiciendis ipsam soluta doloribus sequi in eligendi sunt voluptates laborum velit.</p>
                <br>
                <div class="icons-container row">
                    <div class="icons col-3 h3">
                        <i class="fas fa-award"></i>
                        <span class="h5 text-danger">author</span>
                    </div>
                    <div class="icons col-3 h3">
                        <i class="fas fa-calendar-alt"></i>
                        <span class="h5 text-danger">date</span>
                    </div>
                    <div class="icons col-3 h3">
                        <i class="fas fa-comment"></i>
                        <span class="h5 text-danger">comments</span>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="col-1"></div>

    <div class="content col-3">

        <div class="links shadow border border-2 p-5">
            <h4 class="text-success">Enlaces de interes</h4>
            <br>
            <a class="nav-link h5"><i class="fas fa-angle-right ic"></i> La educación y el medio ambiente</a>
            <a href="" class="nav-link h5"><i class="fas fa-angle-right ic"></i> Seres vivos en vía de extinsión</a>
            <a href="" class="nav-link h5"><i class="fas fa-angle-right ic"></i> El veneno del plastico</a>
            <a href="" class="nav-link h5"><i class="fas fa-angle-right ic"></i> El deshielo</a>
        </div>

        <br><br><br>

        <div class="links shadow border border-2 p-5">
            <h4 class="text-success">Archivos</h4>
            <br>
            <a class="nav-link h5"><i class="fas fa-angle-right ic"></i> Reciclaje</a>
            <a href="" class="nav-link h5"><i class="fas fa-angle-right ic"></i> Medio Ambiente</a>
            <a href="" class="nav-link h5"><i class="fas fa-angle-right ic"></i> Calentamiento Global</a>
            <a href="" class="nav-link h5"><i class="fas fa-angle-right ic"></i> Cuidado Ambiental</a>
        </div>

        <br><br><br>

        <div class="links other">

        </div>

    </div>

</section>