<!-- Header Section Start -->

<section class="header">

    <a routerLink="/home" class="logo nav-link text-success bold h1"><i class="fas fa-cloud ic"><span></span>Enviromental.</i></a>

    <nav class="navbar">
        <a class="nav-link" routerLink="/home">home</a>
        <a class="nav-link" routerLink="/blog">blog</a>
        <a class="nav-link" href="">package</a>
        <a class="nav-link" href="">book</a>
    </nav>

    <div id="menu-btn" class="fas fa-bars"></div>

</section>

<!-- Header Section End -->