
<ngb-carousel >
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper box-img">
            <img src="../../../assets/images/elephant.jpg" class="w-100 h-100" alt="Random first slide">
        </div>
        <div class="carousel-caption h-50">
            <h3>First slide label</h3>
            <br>
            <p class="h1">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            <br>
            <a href="" class="btn btn-primary w-25 rounded p-3"><span class="h2 text-center">Aceptar</span></a>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper box-img">
            <img src="../../../assets/images/solar_panel.jpg" class="w-100 h-100" alt="Random second slide">
        </div>
        <div class="carousel-caption h-50">
            <h3>First slide label</h3>
            <br>
            <p class="h1">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            <br>
            <a href="" class="btn btn-primary w-25 rounded p-3"><span class="h2 text-center">Aceptar</span></a>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper box-img">
            <img src="../../../assets/images/environmental.jpg" class="w-100 h-100" alt="Random third slide">
        </div>
        <div class="carousel-caption h-50">
            <h3>First slide label</h3>
            <br>
            <p class="h1">Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            <br>
            <a href="" class="btn btn-primary w-25 rounded p-3"><span class="h2 text-center">Aceptar</span></a>
        </div>
    </ng-template>
</ngb-carousel>